* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    padding-bottom: 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 80px 150px;
    max-width: 900px;
    padding: 60px;
    background-color: #E0FFFF;
}
.btn {
   width: 80px;
   height: 40px;
   background-color: turquoise;
   border-radius: 25px 25px;


}
.game-container {
    display: none;
}